services:
  db:
    image: postgres:15.6
    container_name: ecomercedb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}        
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} 
      POSTGRES_DB: ${POSTGRES_DB}       
      POSTGRES_PORT: ${POSTGRES_PORT}
      
    env_file:
      - .env                                    
    ports:
      - "5432:5432"                             
    volumes:
      - postgres_data:/var/lib/postgresql/data   
    networks:
      - red1                                    

volumes:
  postgres_data:                                

networks:
  red1:
    external: true                          
